<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard - Throne Hospital</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/assets/images/favicon.ico')}}">


    <!-- Bootstrap CSS For Modal -->

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Bootstrap Bundle JS -->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>-->

<!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Bootstrap Bundle JS -->
<!--     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->



    <!-- *************
		************ CSS Files *************
	************* -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/fonts/remix/remixicon.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/css/main.min.css')}}">

    <!-- *************
		************ Vendor Css Files *************
	************ -->

     <!-- Bootstrap Icons -->
     <link href="{{url_for('static', filename='assets/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/vendor/overlay-scroll/OverlayScrollbars.min.css')}}">


     <!-- Data Tables -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/vendor/datatables/dataTables.bs5.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/vendor/datatables/dataTables.bs5-custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/assets/vendor/datatables/buttons/dataTables.bs5-custom.css')}}">
  </head>

  <body>

{% block content %}

{% endblock %}
</body>
</html>
