<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Throne Hospital</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/images/favicon.ico')}}"/>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/images/favicon.ico')}}"/>
</head>
<body>

{% block content %}

{% endblock %}
</body>
</html>